<div class="container">
  <div class="row">
      <div class="col-4">
        <h2>Add User</h2>
        <hr>
        <label>Name</label>
        <input type="text" #UserName class="form-control mb-3" id="name" name="name">
        <label>Surname</label>
        <input type="text" #Usersurname class="form-control mb-3">
        <label>Gander</label>
        <select class="form-control mb-3" #UserGander>
            <option value="Male">Male</option>
            <option value="Famale">Famale</option>
        </select>
        <label>Age</label>
        <input type="number" min="1" max="100" #UserAge class="form-control mb-3">
        <label>Licance </label>&nbsp;
        <input type="checkbox"  #UserLicance class=" mb-3">
        <button class="btn btn-primary form-control mb-3"(click)="addUser(UserName.value,Usersurname.value,UserGander.value,UserAge.value,UserLicance.value)">Add User</button>
      </div>
      <div class="col-4">
        <h2>Add Car</h2>
        <hr>
        <label>Brand</label>
        <input type="text" #CarBrand class="form-control mb-3">
        <label>Model</label>
        <input type="text" #CarModel class="form-control mb-3">
        <label>Color</label>
        <select class="form-control mb-3" #CarColor>
            <option value="White">White</option>
            <option value="Black">Black</option>
            <option value="Red">Red</option>
            <option value="Green">Green</option>
            <option value="Blue">Blue</option>
            <option value="Pink">Pink</option>
          </select>
        <label>Price</label>
        <input type="number" min="1"  #CarPrice class="form-control mb-3">
        
        <button class="btn btn-primary form-control" (click)="addCar(CarBrand.value,CarModel.value,CarColor.value,CarPrice.value)">Add Car</button>
      </div>
      <div class="col-4">
        <h2>Rent A Car</h2>
        <hr>
        <label>User</label>
        <select class="form-control mb-3" #RentUser>
            <option value="{{item.Id}}"  *ngFor="let item of getUserList()">{{ item.Name +" "+item.Surname }}</option>
        </select>
        <label>Car</label>
        <select class="form-control mb-3" #RentCar>
          <option value="{{item.Id}}"  *ngFor="let item of getCarList()">{{ item.Brand +" "+item.Model }}</option>

        </select>
        <label>Day</label>
        <input type="number" value="1" min="1" #RentDay class="form-control mb-3">
        
        <button class="btn btn-primary form-control" (click)="addRentACar(RentUser.value,RentCar.value,RentDay.value)">Add Car</button>
      </div>
      
    
  </div>
  <hr>
  <div class="row">
      <div class="col-6 text-center">
          <h2>User List</h2>
          <hr>
          <table class="table table-hover table-bordered">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Age</th>
                <th>Gander</th>
                <th>Licance</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of getUserList()">
                <td>{{ item.Id }}</td>
                <td>{{ item.Name }}</td>
                <td>{{ item.Surname }}</td>
                <td>{{ item.Age }}</td>
                <td>{{ item.Gander }}</td>
                <td>{{ item.Licance }}</td>
              </tr>
            </tbody>
          </table>
      </div>
      <div class="col-6 text-center">
          <h2>Car List</h2>
          <hr>
          <table class="table table-hover table-bordered">
            <thead>
              <tr>
                <th>#</th>
                <th>Brand</th>
                <th>Model</th>
                <th>Color</th>
                <th>Price</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of getCarList()">
                <td>{{ item.Id }}</td>
                <td>{{ item.Brand }}</td>
                <td>{{ item.Model }}</td>
                <td>{{ item.Color }}</td>
                <td>{{ item.Price+" TL" }}</td>
              </tr>
            </tbody>
          </table>
      </div>
      <div class="col-12 text-center">
          <h2>Rent A Car List</h2>
          <hr>
          <table class="table table-hover table-bordered">
            <thead>
              <tr>
                <th>#</th>
                <th>User</th>
                <th>Car</th>
                <th>Day</th>
                <th>Total Price</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of getRentACarList()">
                <td>{{ item.Id }}</td>
                <td>{{ item.UserId }}</td>
                <td>{{ item.CarId }}</td>
                <td>{{ item.Day }}</td>
                <td>{{ item.TotalPrice+" TL" }}</td>
              </tr>
            </tbody>
          </table>
      </div>
      
  </div>
</div>